/*
|--------------------------------------------------------------------------
| UItoTop jQuery Plugin 1.1
| http://www.mattvarone.com/web-design/uitotop-jquery-plugin/
|--------------------------------------------------------------------------
*/

#toTop {
	display:none;
	text-decoration:none;
	position:fixed;
	bottom:90px;
	overflow:hidden;
	width:60px;
	height:80px;
	border:none;
	text-indent:-999px;
	z-index:20;
	background:url(../images/back_button.png) no-repeat left top;
}


#toTop:hover {
	outline:none;
	background-position: 0 -80px;
}
